{% extends 'base.html.twig' %}

{% block title %}Curso Symfony{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1> Ejercicio2 </h1>

    <ul>
      {% if param == 10 %}
        <div >  
        La variable es igual a 10

        </div>
      {% endif %}
    </ul>



    <ul>
         {% for i in range(1, 20) %}
        <div>
        
        {{i}}-{{ 'Texto en Mayuscula'|upper }}

       
        </div>
           
          {% endfor %}
    </ul>


</div>



{% endblock %}
